<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidv2sdklibrary"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application>
        <activity
            android:name="mobi.vserv.android.ads.VservAdManager"
            android:configChanges="touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize"
            android:launchMode="singleTop"
            android:process=":vserv"
            android:theme="@style/Vserv.Theme.Sherlock"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="mobi.vserv.org.ormma.view.Browser"
            android:configChanges="touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize"
            android:theme="@style/Vserv.Theme.Sherlock"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="mobi.vserv.org.ormma.view.OrmmaActionHandler"
            android:configChanges="touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize"
            android:theme="@style/Vserv.Theme.Sherlock"
            android:windowSoftInputMode="adjustPan" >
        </activity>
    </application>

</manifest>